body {
  background-color: #00bcd4;
  height: 100vh;
  margin: 0;
  padding: 0;
}

h1 {
    font-family: verdana;
    text-shadow: -2px 0 black, 0 2px black, 2px 0 black, 0 -2px black;
}

h2 {
  margin-bottom: 0;
}

.app-title {
  color: white;
  font-size: 2.5em;
  margin: 0;
  text-shadow: 2px 2px 0 #000, -1px -1px 0 #000, 1px -1px 0 #000, -1px 1px 0 #000, 1px 1px 0 #000;
}

.content {
  background-color: white;
  -webkit-box-shadow: 0 0 10px 1px rgba(0, 0, 0, 0.33);
  -moz-box-shadow: 0 0 10px 1px rgba(0, 0, 0, 0.33);
  box-shadow: 0 0 10px 1px rgba(0, 0, 0, 0.33);
  height: 100vh;
  margin: 0 auto;
  padding: 10px;
  width: 92%;
}

.toolbar {
  background-color: rgb(200, 200, 200);
  border-radius: 10px;
  margin-bottom: 10px;
  padding: 20px;
}

.section-header{
  margin-bottom: 10px;
}

.toolbar .btn+.btn {
  margin-left: 10px;
}

.nav-link{
  color:black;
}

.displayArea {
  height: 100%;
  min-height: 600px;
  width: 100%;
}

.codeArea {
  background-color: #f8f9fa;
  -webkit-box-shadow: inset 0 0 3px 3px rgba(0, 0, 0, 0.3);
  -moz-box-shadow: inset 0 0 3px 3px rgba(0, 0, 0, 0.3);
  box-shadow: inset 0 0 3px 3px rgba(0, 0, 0, 0.3);
  padding: 10px;
}

.helpItem {
  margin-bottom: 50px;
}

/* Chat stylings */
#chat-container {
    /*top:180px;*/
    height: calc(100% - 3em);
    width: 100%;
    border-style: solid;
    background-color: lightblue;
    overflow-y: scroll;
    word-wrap: break-word;
    font-family: verdana;

}

#chat-input {
    height: 3em;
    width: 100%;
    resize: none;
    overflow-y: scroll;
    border-style: solid;
}

#chat-bubble-message{
  height: 50px;
  width: 85%;
  background: white;
  position: relative;
  cursor: pointer;
  border: 3px double black;
  border-radius: 10px;
  left: 13%;
}
#chat-bubble-message::before{
  content: "";
  position: absolute;
  top: 100%;
  right: 30px;
  height: 20px;
  width: 20px;
  background: white;
  box-sizing:border-box;
  transform: rotate(45deg) translate(-50%);
  border-bottom: inherit;
  border-right: inherit;
  box-shadow: inherit;
}

#bot-bubble-message{
  height: 50px;
  width: 85%;
  background: gray;
  position: relative;
  cursor: pointer;
  border: 3px double black;
  border-radius: 10px;
}
#bot-bubble-message::before{
      content: "";
  position: absolute;
  top: 100%;
  left: 30px;
  height: 20px;
  width: 20px;
  background: gray;
  box-sizing:border-box;
  transform: rotate(45deg) translate(-50%);
  border-bottom: inherit;
  border-right: inherit;
  box-shadow: inherit;
}