<!DOCTYPE html>
<html>
<head>
    <script src="/socket.io/socket.io.js"></script>
    <script src="https://code.jquery.com/jquery-2.1.4.js"></script>
    <link rel="stylesheet" href="/stylesheets/chat.css" />
    <title>Chat</title>
    
</head>
<body>
    <h1><span style= "color: white;">Welcome to Pizzabot!</span></h1>
    <h2><span style="color:white;">Pizza chat</span></h2>
<div id="chat-container">
</div>
<textarea id="chat-input">
</textarea>

    
<script src="/javascripts/chat.js"></script>
    
</body>
</html>
